<mat-toolbar class="bg-primary text-white">
    <button mat-icon-button class="example-icon text-white" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </button>
    <span>Examportal</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon login-icon text-white me-5"
        aria-label="Example icon-button with heart icon">
        Login
    </button>
    <button mat-icon-button class="example-icon favorite-icon text-white me-5"
        aria-label="Example icon-button with heart icon">
        Register
    </button>
</mat-toolbar>