<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" class="margin-tb">
            <div class="col-md-5 offset-md-3 border">
                <h5 class="text-center" style="margin-top: 5px;">Register Here !!</h5>

                <form class="form-container" (ngSubmit)="Submit()">
                    <!-- Username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input [(ngModel)]="user.username" name="username" matInput placeholder="Enter Here ">
                    </mat-form-field>

                    <!-- User Password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input [(ngModel)]="user.password" name="password" matInput type="password"
                            placeholder="Enter Here ">
                    </mat-form-field>

                    <!-- First Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="user.firstname" name="firstname" matInput placeholder="Enter Here ">
                    </mat-form-field>

                    <!-- Last Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input [(ngModel)]="user.lastname" name="lastname" matInput placeholder="Enter Here ">
                    </mat-form-field>

                    <!-- Email -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="user.email" name="email" matInput type="email" placeholder="Enter Here ">
                    </mat-form-field>

                    <!-- Phone Number -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input [(ngModel)]="user.phone" name="phone" matInput type="number" placeholder="Enter Here ">
                    </mat-form-field>

                    <div class="text-center">
                        <button mat-flat-button class="mx-5">Register</button>
                        <button mat-flat-button color="accent">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>