.form-container {
  max-width: 700px;
  padding: 15px;
}

.full-width{
    width: 100%;
}

.accents{
    color: rgb(248, 68, 68);
}

.border{
    border: 1px solid gray;
    border-radius: 12px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding-bottom: 0;
}

.p-0{
    padding: 0 !important;
}

.margin-tb{
    margin-top: 10px;
    margin-bottom: 10px;
}